.contrySelect {
  width: 100px;
  position: relative;
  z-index: 10;
}

.slide {
  padding: 5px;
}

* {
  box-sizing: border-box !important;
}
.mySwiper .swiper-slide {
  width: auto;
}
#navbar {
  z-index: 1000;
  position: fixed;
}
#category {
  z-index: 900;
  position: relative;
}
#category-stick {
  z-index: 999;
  position: fixed;
}
#all {
  z-index: 1;
}

.menu {
  z-index: 4;
}

.galleryCard {
  z-index: 1;
}

.addOffer {
  z-index: 4;
}

.hide {
  display: none;
}

#offer {
  z-index: 4;
}
Menu {
  z-index: 3;
  position: relative;
}
.hide-navigation-buttons .swiper-button-next,
.hide-navigation-buttons .swiper-button-prev {
  display: none !important;
}

.contact {
  font-size: 18px;
}
/* img, video {
    max-height: 180px !important;
} */

.code-box {
  display: flex;
  justify-content: space-between;
}
.code-box .verify-code-input {
  display: inline-block;
  height: 55px;
  width: 55px;
  background-color: #fff;
  border: 1px solid #E7E7E9;
  border-radius: 8px;
  opacity: 0.9;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 1px 2px;
  outline: none;
  color: #000;
  appearance: textfield;
  -webkit-appearance: textfield;
}
.code-box .verify-code-input-error {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-color: #fff;
  border: 1px solid #fd384f;
  border-radius: 8px;
  opacity: 0.9;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  outline: none;
  color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

@media only screen and (max-width: 480px){
  .code-box .verify-code-input {
    height: 44px;
    width: 44px;
  }
}

.slider-container {
  direction: rtl;
  height: auto !important;
  max-height: 300px;
}

.slick-slider {
  overflow: hidden;
}

/* הפס גלילה */
.slick-scrollbar {
  width: 12px;
  right: 0; /* הזזה לצד ימין */
}

/* צבע התיק והתיק האזור שמעבר לו */
.slick-scrollbar-track {
  background-color: transparent !important; /* הסתרת התיק */
}

/* צבע התיק האזור שעליו נעבר */
.slick-scrollbar-thumb {
  background-color: #888 !important; /* צבע התיק */
}
#small:hover {
  fill: "#F8FAFF";
  stroke: "#BED0FB";
}

/*#categorySqure {
  animation-name: jumpfeeling;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955)
}*/
.description-text {
  position: relative;
  overflow: hidden;
  max-height: 2.5em;
  transition: max-height 0.3s ease-out;
  text-overflow: ellipsis;
}

.name-text {
  position: relative;
  overflow: hidden;
  max-height: 2.2rem;
  /*transition: max-height 0.3s ease-out;*/
  text-overflow: ellipsis;
}


.text-container {
  cursor: pointer;
  white-space: nowrap;
}

.show-full-text {
  white-space: normal;
  max-height: none;
}

#categorySqure:hover{
  animation-name: hoverFeelingsAnim;
  animation-duration: .3s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-delay: 0s;
  transition: transform 0.3s ease-in-out;
  border: 1px solid transparent;
  border-color: #0738D2;
}

.category_img{ 
  /*background-color: #B7D1F7;*/
  border-radius:50%;
  position:relative
}
.category_img::before {
  position: absolute;
  transition:all 0.2s linear;
  content: '';
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border-radius: 50%;
  border: 2px solid #D3D4D8;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .category_img::before {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}

@media screen and (max-width: 768px) {
  .category_img::before {
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
  }
}
.slider-wrapper {
  margin-top: 30px; /* רווח למעלה */
  margin-bottom: 30px; /* רווח למטה */
}

.category_img:hover::before {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-color: #0D2F99;
  
}
 .category_img .img {
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  top: 0;
  left: 0;
  margin: auto;
}
.footerLinks
{
  gap: 80px;
}

@media screen and (min-width: 485px) and (max-width: 545px) {
  .footerLinks
{
  gap: 50px;
}
}
@media screen and (min-width: 480px) and (max-width: 485px) {
  .footerLinks
{
  gap: 45px;
}
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .contactLinks
{
  gap: 12px;
}
}

@media screen and (min-width: 850px){
  .contactLinks
{
  gap: 30px;
}
}

@media screen and (min-width: 880px){
  .contactLinks
{
  padding-left: 15px;
  padding-right: 15px;
}
}


@keyframes hoverFeelingsAnim {
  from {
    box-shadow: 0 0 0 1px transparent;
  }

  to { /* השינוי שביצעתי - שינוי בעיגול */
    box-shadow: 0 0 0 10px #ffa8a8; 
  }
}

@keyframes jumpfeeling {
  0% {
      transform: translateY(5px)
  }

  10% {
      transform: translateY(10px)
  }

  20% {
      transform: translateY(15px)
  }

  30% {
      transform: translateY(10px)
  }

  40% {
      transform: translateY(5px)
  }

  50% {
      transform: translateY(0)
  }

  60% {
      transform: translateY(-5px)
  }

  70% {
      transform: translateY(-10px)
  }

  80% {
      transform: translateY(-15px)
  }

  90% {
      transform: translateY(-10px)
  }

  100% {
      transform: translateY(0)
  }
}

@keyframes animatedSelectedFeeling {
  from {
      box-shadow: inset 0 0 0 0 #ffa8a8
  }

  to {
      box-shadow: inset 0 0 0 10px #ffa8a8
  }
}

@media print {
  .not_for_print,.not-for-print,.cm8 {
      display: none !important
  }

  .for-print {
      display: block !important
  }

  .article-body>p {
      margin-right: 0px !important
  }

  .article-body h4 {
      margin-right: 0px !important
  }

  .OUTBRAIN {
      display: none
  }

  header.skin-v_2019 strong {
      margin-right: 7px
  }
}

.successWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 470px;
  margin: 30px auto
}

body.tech12 .successWrapper {
  max-width: 100%
}

@media screen and (max-width: 600px) {
  .successWrapper {
      flex-direction:column;
      text-align: center
  }

  .successWrapper span {
      display: block
  }
}

@media screen and (min-width: 1280px) and (max-width: 1359px), screen and (min-width: 1600px) {
  footer {
      width:1126px
  }
}


.categories{-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center}
.mega_menu_wrapper .category{transition:all .2s linear;border:2px solid #e3dcf9;border-radius:40px;font-weight:400;font-size:24px;padding:10px 24px;min-width:200px;text-align:center;color:#65388b;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;margin:10px 12px}
@media(max-width:1430px){.mega_menu_wrapper .category{min-width:auto}}@media(max-width:1300px){.mega_menu_wrapper .category{min-width:auto;font-size:20px;padding:5px 18px;margin:10px 8px}}.mega_menu_wrapper .category:hover{background-color:rgba(111,48,160,.1)}.mega_menu_wrapper .category.active{border-color:#7030a0;background-color:#7030a0;color:#fff}.mega_menu_wrapper .sub_categories_inner{margin:0 -5px}.mega_menu_wrapper .sub_category_menu{padding:30px 0 10px;max-width:1040px;margin:0 auto}.mega_menu_wrapper .sub_categories{display:none}.mega_menu_wrapper .sub_category_item{width:16.66666666666667%;text-align:center;padding:10px 5px}.mega_menu_wrapper .sub_category{display:inline-block;vertical-align:top;color:#000;text-align:center;font-size:18px}.mega_menu_wrapper .sub_category:hover .sub_category_img::before{top:0;bottom:0;right:0;left:0}.mega_menu_wrapper .sub_category_title{margin:13px 0 3px}.mega_menu_wrapper .sub_category_img{width:112px;height:112px;border-radius:50%;margin:0 auto;position:relative}@media(max-width:1300px){.mega_menu_wrapper .sub_category_img{width:90px;height:90px}}


.mega_menu_wrapper .sub_category_img::before{content:'';position:absolute;top:-8px;bottom:-8px;right:-8px;left:-8px;border:2px solid rgba(101,56,139,.4);z-index:-1;border-radius:50%;transition:all .2s linear}
.mega_menu_wrapper .sub_category_img img{width:100%;height:100%;overflow:hidden;object-fit:cover;border-radius:50%;}
.menu_mobile{display:none;overflow:hidden}@media(max-width:991px){.menu_mobile{display:block;overflow:hidden;width:100%;height:100vh;position:relative}}.menu_mobile_inner{height:100%;overflow:auto;font-size:24px}.menu_mobile_inner .head_title{font-weight:700;font-size:24px;line-height:1.1;width:calc(100% - 30px);padding:0 15px 0 0}
.menu_mobile_inner .menu_head_mobile{height:68px;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;padding:5px 15px;border-bottom:1px solid #eee}.menu_mobile_inner .menu_head_mobile .btn_close_menu{position:relative;top:unset;right:unset}.menu_mobile_inner .menu_head{width:100%}


.menu_mobile_inner .category_img{width:52px;height:52px;border-radius:50%;position:relative}
.menu_mobile_inner .category_img::before{position:absolute;content:'';top:-2px;left:-2px;right:-2px;bottom:-2px;border-radius:50%;border:1px solid rgba(101,56,139,.4)}
.menu_mobile_inner .category_img img{overflow:hidden;border-radius:50%;width:100%;height:100%;position:absolute;top:0;left:0;margin:auto}
.menu_mobile_inner .sub_menu{position:absolute;z-index:1;top:0;left:0;right:0;background-color:#fff;height:100%;overflow:hidden;transition:all .3s linear;transform:translate(100%,0)}


